<configuration scan="true" scanPeriod="30 seconds">

    <contextName>tweeter</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %contextName [%t] %level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="tweeter" level="DEBUG"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>